#####
# Credentials for the Docker registry
# @see README.registry.md
#####
#
# Account used by Docker (admin panel) to pull images
krisalee-dev-admin:xxxxxxxx.xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
#
# Account used by K8S (services) to pull images
krisalee-dev-k8s:xxxxxxxx.xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
